<header class="py-6 flex items-center justify-between">
  <a class="text-xl font-bold" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
  <nav class="flex items-center gap-6">
    <a class="nav-link" href="{{ "/" | relURL }}">Home</a>
    <a class="nav-link" href="{{ "/recommendations/" | relURL }}">All</a>
  <a class="nav-link" href="{{ "/categories/courses/" | relURL }}">Courses</a>
    <a class="nav-link" href="{{ "/categories/" | relURL }}">Categories</a>
    <a class="nav-link" href="{{ "/tags/" | relURL }}">Tags</a>
    <a class="nav-link" href="{{ "/about/" | relURL }}">About</a>
  </nav>
</header>
