{{ if .Paginator }}
<nav class="mt-10 flex items-center justify-between" aria-label="Pagination navigation">
  <div>
    {{ if .Paginator.HasPrev }}
    <a class="btn" href="{{ .Paginator.Prev.URL }}" rel="prev">← Newer</a>
    {{ end }}
  </div>
  <div class="text-sm text-slate-500" aria-current="page">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</div>
  <div>
    {{ if .Paginator.HasNext }}
    <a class="btn" href="{{ .Paginator.Next.URL }}" rel="next">Older →</a>
    {{ end }}
  </div>
</nav>
{{ end }}
