<footer
  class="py-10 border-t text-sm text-secondary border-subtle"
>
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-6xl">
    <div class="flex items-center justify-between py-4">
    <p>© {{ now.Year }} {{ .Site.Params.author }}. All rights reserved.</p>
    <div class="flex items-center gap-4">
      <a class="nav-link" href="{{ .Site.BaseURL }}index.xml">RSS</a>
      {{ range $name, $val := .Site.Params.social }} {{ $url := "" }} {{ if eq
      $name "github" }}{{ $url = printf "https://github.com/%s" $val }} {{ else
      if eq $name "twitter" }}{{ $url = printf "https://twitter.com/%s" $val }}
      {{ end }} {{ if $url }}
      <a
        class="nav-link"
        href="{{ $url }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ $name | humanize }}</a
      >
      {{ end }} {{ end }}
    </div>
  </div>
  </div>
</footer>
